node_modules
.pnpm-store
dist
build
.next
.turbo
out
*.tsbuildinfo
.env
.env.local
.env.*.local
!.env.example
.idea
.vscode
*.swp
*.swo
.DS_Store
logs
*.log
coverage
.nyc_output
packages/database/prisma/*.db
packages/database/prisma/*.db-journal
infrastructure/docker/data
storage/
*.pem
*.key
secrets/
playwright-report
test-results
Thumbs.db
